<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Todo-List
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item lines="none" *ngFor="let user of users()">
    <ion-checkbox
      aria-label="Label"
      slot="start"
      [(ngModel)]="user.active"
      (ionChange)="updateUser(user)"
    ></ion-checkbox>
    <ion-label *ngIf="!user.isEditing" (click)="enableEditing(user)">
      {{ user.name }}
    </ion-label>
    <ion-input
      *ngIf="user.isEditing"
      [(ngModel)]="user.name"
      #inputRef
    >
      <ion-button
        slot="end"
        (click)="disableEditing(user)"
        fill="clear"
        color="medium"
        >
          <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        slot="end"
        (click)="updateUser(user)"
        fill="clear"
        color="success"
        >
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-input>
    <ion-button
      *ngIf="!user.isEditing"
      slot="end"
      (click)="deleteUser(user)"
      fill="clear"
      color="danger"
    >
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="square-outline"></ion-icon>
    <ion-input class="ion-padding" (keyup.enter)="createUser()" [(ngModel)]="newUserName" type="text" placeholder="Eintrag hinzufügen"></ion-input>
    <ion-buttons>
      <ion-button (click)="createUser()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-row [hidden]="users().length >= 0">
    <ion-col size-md="6" offset-md="3">
      <div class="chip">
        <ion-chip *ngIf="users().length >= 0" (click)="deleteActiveUsers()" color="primary">
          <ion-text><small>Erledigte löschen</small></ion-text>
        </ion-chip>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
