<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Todo-List
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item lines="none" *ngFor="let todo of todos()">
    <ion-checkbox
      aria-label="Label"
      slot="start"
      [(ngModel)]="todo.done"
      (ionChange)="updateTodo(todo)"
    ></ion-checkbox>
    <ion-label *ngIf="!todo.isEditing" (click)="enableEditing(todo)">
      {{ todo.description }}
    </ion-label>
    <ion-input
      *ngIf="todo.isEditing"
      [(ngModel)]="todo.description"
      #inputRef
    >
      <ion-buttons slot="end">
        <ion-button
          size="small"
          (click)="disableEditing(todo)"
          fill="clear"
          color="medium"
          >
            <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button
          size="small"
          (click)="updateTodo(todo)"
          fill="clear"
          color="success"
          >
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-input>
    <ion-buttons>
      <ion-button
        *ngIf="!todo.isEditing"
        slot="end"
        size="small"
        (click)="deleteTodo(todo)"
        fill="clear"
        color="danger"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item lines="none">
    <!-- <ion-icon name="square-outline"></ion-icon> -->
    <ion-checkbox
      aria-label="Label"
      slot="start"
      disabled="true"
    ></ion-checkbox>
    <ion-input (keyup.enter)="createTodo()" [(ngModel)]="newTodoDescription" type="text" placeholder="Eintrag hinzufügen"></ion-input>
    <ion-buttons>
      <ion-button (click)="createTodo()" size="small" slot="end">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-row [hidden]="todos().length >= 0">
    <ion-col size-md="6" offset-md="3">
      <div class="chip">
        <ion-chip *ngIf="todos().length >= 0" (click)="deleteActiveTodos()" color="primary">
          <ion-text><small>Erledigte löschen</small></ion-text>
        </ion-chip>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
